
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
}

.logo{
  height: 70px;
  width: 100px;
}